@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(37, 9, 37);
    color: white;
    height: 65px;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: "Lato", sans-serif;
}
nav ul {
    list-style-type: none;
}
.gamecontainer {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 300px;
    height: 300px;
    position: relative;
    font-family: "Lato", sans-serif;
}
.box {
    border: 2px solid black;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover {
    background-color: pink;
}
.info {
    margin-top: 20px;
    font-size: 30px;
    font-family: "Lato", sans-serif;
}
#reset {
    margin-top: 10px;
    background-color: cyan;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}
.line {
    background-color: black;
    height: 6px;
    width: 100%;
    position: absolute;
    transform-origin: center;
    display: none;
}
